@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-green: #00AE8E;
  }
}


@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  /* border: 1px solid blue; */
  /* padding: 5px; */
  direction: rtl;
  box-sizing: border-box;
}

body {
  font-family: 'IranSans';
}

@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANSansX-Medium.woff');
}

.menu-open {
  overflow: hidden;
}

.swiper-button-prev, .swiper-button-next {
  color: #00ae8e!important;
}
