@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-green: #00AE8E;
    --gray: #eee;
  }
}


@media (prefers-color-scheme: dark) {
  :root {}
}

* {
  /* border: 1px solid blue; */
  /* padding: 5px; */
  direction: rtl;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'IranSans';
}

body::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

body::-webkit-scrollbar{
	width: 9px;
	background-color: #F5F5F5;
	background-color: #000000;
}

body::-webkit-scrollbar-thumb{
	background-color: #666666;
}

body::-webkit-scrollbar-thumb:hover{
	background-color: #888888;
}

@font-face {
  font-family: IranSans;
  src: url('/fonts/IRANSansX-Medium.woff');
}

.menu-open {
  overflow: hidden;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: #ffffff93 !important;
  color: #00ae8e !important;
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #00ae8e !important;
  color: #ffffff !important;
}
/* .swiper-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
} */
div.swiper-button-prev::after,
div.swiper-button-next::after {
  font-size: 15px !important;
  font-weight: 900 !important;
}

@media (max-width: 768px) {

  div.swiper-button-prev,
  div.swiper-button-next {
    display: none!important;
  }
}

@media (min-width: 768px) {

  div.swiper-scrollbar-horizontal {
    display: none!important;
  }
}

#home-carousel div.swiper-scrollbar-horizontal {
  display: none!important;
}

/* #WhyHanzHome-carousel .swiper-wrapper {
  display: flex!important;
  justify-content: space-between!important;
}

#WhyHanzHome-carousel div.swiper-scrollbar-horizontal {
  display: none!important;
}
 */

/* #WhyHanzHome-carousel .swiper-slide {
  width: 100px!important;
  margin-left: 0!important;
  padding: 0 10px 0 10px;
} */