@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
}

@media (prefers-color-scheme: dark) {
  :root {
   
  }
}
*{
  border: 1px solid blue;
  padding: 5px;
  direction: rtl;
  box-sizing: border-box;
}

body {

}
